#ver {
  .cat {
    // border: 6px solid black;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    // display: none;
  }
  #cat1 {
    // border-color: orangered;
    // display: block;
    z-index: 1;
  }
  #cat2 {
    // border-color: seagreen;
  }
}
.section__intro {
  padding: 5%;
  background-color: $bk-grey;
  position: relative;
  h2 {
    font-family: CS;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
  }
  h1 {
    font-family: CB;
    font-size: 2rem;
    text-align: center;
  }

  .division {
    // background-color: blueviolet;
    // border: 2px solid black;
    position: relative;
    max-width: 50%;
    width: 100%;
    padding-top: 4%;

    max-width: 90%;
    left: 5%;

    &__image {
      margin-bottom: 30%;
      padding-top: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__video {
      position: absolute;
      width: 100%;
      top: 40%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
    &__caption {
      padding-top: 0%;
      padding-right: 0%;
      text-align: justify;
      font-size: 1rem;
      color: #868686;
      font-family: CR;
    }
  }
}
.section__lastCategories {
  background-color: $bk-grey;
  text-align: center;
  padding: 15% 0;
  margin-top: -1%;
  h2 {
    font-family: CS;
    font-size: 1.4rem;
    text-align: center;
    // text-transform: uppercase;
  }
  h1 {
    font-family: CB;
    font-size: 2rem;
    text-align: center;
  }
  .lastCats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // border: 2px solid yellow;
    padding: 0;
    &__button {
      background-color: $bk-blue;
      color: $aqua;
      border-radius: 25px;
      font-size: 1.125rem;
      font-family: CB;
      padding: 0.7% 3%;
      text-transform: uppercase;
    }
  }
  .cat {
    flex-basis: 30%;
    margin: 5%;
    margin-bottom: 10%;

    cursor: pointer;
    // border: 2px solid fuchsia;
    // z-index: 109;
    pointer-events: all !important;
    position: relative;
    &__background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // border:2px solid blue;
      height: 100%;
      position: absolute;
      z-index: 0;
      // top: 0;
      // left: 0;
      width: 100%;
      padding-top: 82%;
    }
    &__image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
      // filter: grayscale(100%);
      transition: all 0.1s ease;
    }
    &__title {
      color: black;
      transition: all 0.1s ease;
      margin-top: 65%;
      margin-left: 26%;
      position: relative;
      z-index: 2;
      font-family: CS;

      font-size: 1.5rem;
      top: 7%;
    }
    // &:hover {
    //   .cat {
    //     // &__image {
    //     //   filter: grayscale(0%);
    //     // }
    //     &__title {
    //       color: white;
    //       text-shadow: black 1px 1px 1px;
    //     }
    //     &__date {
    //       color: white;
    //       text-shadow: black 1px 1px 15px;
    //       font-size: 1.5rem;
    //     }
    //   }
    // }
    &-1,
    &-4 {
      // border: 1px solid green;
      flex-basis: 47%;
      .cat {
        &__background {
          left: 25%;
          width: 75%;
          margin-left: 7%;
          margin-top: 3%;
        }
        &__pattern {
          position: absolute;
          height: 100%;
          width: 60%;
          // left: 45%;
          // top: 15%;
          margin-top: 15%;
          margin-left: 29%;
        }
        &__image {
          position: absolute;
          // right: 0;
          // top: -10%;
          height: 100%;
          width: 82%;

          margin-top: -4%;
          margin-left: 0%;
        }
        &__title {
          margin-top: 82%;
          margin-left: 9%;
          width: 100%;
        }
      }
    }
    &-2,
    &-3 {
      flex-basis: 30%;
      .cat {
        &__background {
          width: 100%;
          padding-top: 82%;
        }
        &__pattern {
          position: absolute;
          margin-top: 0px;
          margin-left: 0px;
          height: 100%;
          width: 100%;
        }
        &__image {
          position: absolute;
          height: 100%;
          width: 95%;
          margin-top: -15%;
          margin-left: -10%;
        }
        &__title {
          margin-top: 121%;
          margin-left: 9%;
          width: 105%;
        }
      }
    }
  }
}
.section__branches {
  text-align: center;
  padding: 9% 5%;
  h1 {
    font-family: A;
    font-size: 4rem;
    text-align: center;
    color: black;
    line-height: 0.8;
    margin: 1em 0;
    span {
      color: $aqua;
      font-size: 6rem;
    }
  }
  h3 {
    font-family: CS;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  .branches__button {
    background-color: #d4dde5;
    color: $aqua;
    border-radius: 25px;
    font-size: 1rem;
    font-family: CB;
    padding: 1% 5%;
    text-transform: uppercase;
  }
}
.categoriesVariations {
  border: 2px solid $aqua;
  background-color: #085eae;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 22%;
  z-index: 12;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 4px;
  .categoryVariation {
    margin: 0 5px;
    font-size: 2em;
    // border: 2px solid red;
    max-width: 33%;
    max-height: 1.5em;
    svg {
      width: 100%;
      height: 1.5em;
      path {
        fill: white;
      }
    }
    &.active {
      svg {
        path {
          fill: $aqua!important;
        }
      }
    }
  }
}
@media screen and #{breakpoint(medium)} {
  .section__intro {
    padding: 10%;
    h1 {
      font-size: 2.2rem;
    }

    .division {
      max-width: 50%;
      left: unset;
      &__image {
        margin-bottom: 0;
      }
      &__video {
        top: 68%;
        left: 128%;
      }
      &__caption {
        padding-top: 4%;
        padding-right: 30%;
      }
    }
  }
  .section__lastCategories {
    padding: 5% 0;
    h1 {
      font-size: 3rem;
    }
    .lastCats {
      padding: 5% 13%;
    }
    .cat__title {
      font-size: 2.25rem;
    }
  }
  .section__branches {
    padding: 9% 0;
    h1 {
      font-size: 6rem;
      line-height: 1;
      margin: 0;
      span {
        font-size: 10rem;
      }
    }
    h3 {
      font-size: 1.4rem;
    }
    .branches__button {
      font-size: 1rem;
      padding: 0.7% 3%;
    }
  }
}
