.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.eButton{
  background-color: #00529b;
  color: #00bbe4;
  border-radius: 25px;
  font-size: 1.125rem;
  font-family: CB;
  padding: 0.7% 3%;
  text-transform: uppercase;
}